html {
font-family: 'Raleway', sans-serif;
margin: 5%;
line-height:1.5em;
}
div {
	margin: 0% 2%;
}
.title {
font-size: 30px;
text-align: center;
line-height:3em;
}
p, li{
	font-size: 18px;
}
h1{
	font-size: 36px;
}
h3{
	font-size: 28px;
	line-height:2em;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 20px;
}
img {
	width: 96%;
	border: 1px solid black;
	margin:2%;
}

