html {
  font-family: 'Raleway', sans-serif;
	margin: 5%;
}
* {
	padding: 0;
	margin: 0;
}
.title {
  font-size: 30px;
  text-align: center;
}
p, li{
	font-size: 18px;
}
h1{
	font-size: 36px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 20px;
}
img {
	width: 96%;
	border: 1px solid black;
	margin:2%;
}

